*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontRoboto;
}

img {
    width: 100%;
    height: auto;
}

.standard-container {
    max-width: 1200px;
    width: calc(100% - 3rem);
    margin: 0 auto;
}
