.landing-page__container {
    display: flex;
    justify-content: center;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-bar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.topnav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-right: $elementSpacing;
    padding-left: $elementSpacing;

    &__links-left > * {
        margin-right: $elementSpacing;
    }

    &__links-right {
        display: flex;
        align-items: center;
    }
    &__links-right > * {
        margin-left: $elementSpacing;
    }
}

.logo {
    width: 180px;
    margin: 50px;
}

.search-suggestions {
    width: 100%;
    display: flex;
    justify-content: center;

    &__item {
        font-size: 0.75rem;
    }
    &__item:not(:last-child) {
        margin-right: 1.5rem;
    }
    &__title {
        margin-left: 4px;
    }
}
