.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-right: $elementSpacing;
    padding-left: $elementSpacing;

    &__links-left > * {
        margin-right: $elementSpacing;
    }

    &__links-right {
        display: flex;
        align-items: center;
    }
    &__links-right > * {
        margin-left: $elementSpacing;
    }
}
