@import "bulma/css/bulma.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.standard-container {
  max-width: 1200px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.search-result {
  display: flex;
}
.search-result:not(:last-child) {
  margin-bottom: 1rem;
}
.search-result__img {
  width: 210px;
  height: 210px;
  border-radius: 4px;
}
.search-result .general-info {
  flex: 1;
  padding-top: 0.2rem;
}
.search-result .general-info__title {
  margin-bottom: 1rem;
}
.search-result .general-info__rating {
  margin-bottom: 0.6rem;
}
.search-result .general-info__tags {
  display: flex;
}
.search-result .general-info__tags > * {
  cursor: pointer;
}
.search-result .general-info__tags > *:not(:last-child) {
  margin-right: 0.2rem;
}
.search-result .contact-info {
  flex: 1;
  padding-top: 0.4rem;
}
.search-result .contact-info__open-now {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.search-result .contact-info__phone {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.search-result .contact-info__address-line {
  font-size: 0.9rem;
  line-height: 1.3;
}
.search-result > *:not(:last-child) {
  margin-right: 1.5rem;
}

.search-results {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.search-summary__container {
  background: whitesmoke;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.search-summary {
  padding: 1.5rem 0;
}
.search-summary__top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.search-summary__top .subtitle {
  margin-bottom: 0;
}
.search-summary__top p {
  font-size: 0.9rem;
}
.search-summary__filters {
  display: flex;
}
.search-summary__filters > *:not(:last-child) {
  margin-right: 0.7rem;
}

.subnavitem-trigger {
  padding: 0.5rem 0.5rem;
  border-left: 1px solid #e6e6e6;
}
.subnavitem-trigger__icon {
  font-size: 0.93rem;
}
.subnavitem-trigger div {
  display: flex;
  align-items: center;
}
.subnavitem-trigger div *:not(:last-child) {
  margin-right: 6px;
}
.subnavitem-trigger__label {
  user-select: none;
}
.subnavitem-trigger__down {
  transition: color 0.2s ease;
}
.subnavitem-trigger:hover .subnavitem-trigger__down {
  color: #d32323;
}
.subnavitem:last-child .subnavitem-trigger {
  border-right: 1px solid #e6e6e6;
}

.subnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subnav-buttons {
  display: flex;
}
.subnav-buttons__item {
  border-left: 1px solid #e6e6e6;
  padding: 0.5rem 0.5rem;
  user-select: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.subnav-buttons__item .icon {
  margin-right: 6px;
}
.subnav-buttons__item:hover {
  color: #d32323;
}
.subnav-buttons:last-child {
  border-right: 1px solid #e6e6e6;
}

.navbar__container {
  background: #d32323;
  width: 100%;
}

.navbar {
  margin: 0 auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.navbar__logo {
  width: 125px;
  margin-right: 1rem;
}
.navbar__buttons {
  margin-left: 1rem;
}
.navbar__buttons .button:not(:last-child) {
  margin-right: 1rem;
}

.spinner__container .spinner {
  width: 100%;
  height: 30vh;
  border: none;
  outline: none;
}

.business-rating {
  display: flex;
  align-items: center;
}
.business-rating__count {
  font-size: 0.9rem;
}
.business-rating > *:not(:last-child) {
  margin-right: 0.3rem;
}

.input-control {
  min-width: 320px;
}

.search-button {
  background: #bd1f1f;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-button__icon {
  color: white;
}

.landing-page__container {
  display: flex;
  justify-content: center;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-page .search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.topnav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.topnav__links-left > * {
  margin-right: 1.5rem;
}
.topnav__links-right {
  display: flex;
  align-items: center;
}
.topnav__links-right > * {
  margin-left: 1.5rem;
}

.logo {
  width: 180px;
  margin: 50px;
}

.search-suggestions {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-suggestions__item {
  font-size: 0.75rem;
}
.search-suggestions__item:not(:last-child) {
  margin-right: 1.5rem;
}
.search-suggestions__title {
  margin-left: 4px;
}

/*# sourceMappingURL=index.css.map */
