.navbar__container {
    background: $mainRed;
    width: 100%;
}

.navbar {
    margin: 0 auto;
    background: transparent;
    max-width: 1440px;
    width: calc(100% - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;

    &__logo {
        width: 125px;
        margin-right: 1rem;
    }

    &__buttons {
        margin-left: 1rem;

        .button:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
