.search-result {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__img {
        width: 210px;
        border-radius: 4px;
    }
    .general-info {
        flex: 1;
        &__title {
            padding-top: 0.2rem;
        }
        &__rating {
            margin-bottom: 0.5rem;
        }
        &__tags {
            display: flex;

            & > *:not(:last-child) {
                margin-right: 0.2rem;
            }
        }
    }
    &__contact {
        flex: 1;
        font-size: 0.9rem;
    }
    & > *:not(:last-child) {
        margin-right: 1rem;
    }
}
